<div class="container">
  <div class="row">
    <div class="col m10 offset-m1 s12">
      <h2 class="center-align">Nova Receita</h2>
    </div>
    <div class="row">
      <div class="col m12">
        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>
