<h1>New Recipe</h1>

<%= form_tag('/recipes/type') do %>
  <p>
    <input class="with-gap" name="number" type="radio" id="1" value="1" checked="checked" />
    <label for="1">Prato Principal</label>
  </p>
  <p>
    <input class="with-gap" name="number" type="radio" id="2" value="2" />
    <label for="2">Acompanhamento</label>
  </p>
  <p>
    <input class="with-gap" name="number" type="radio" id="3" value="3" />
    <label for="3">Sobremesa</label>
  </p>
  <p>
    <input class="with-gap" name="number" type="radio" id="4" value="4" />
    <label for="4">Bebida</label>
  </p>
  <%= submit_tag "Submit" %>
<% end %>

<%= link_to 'Back', recipes_path %>
