<%= form_for(@user, url: session_path(@user)) do |f| %>
  <form class="form-signin">
  <%= f.email_field :email, :class=>"form-control", autofocus: true, placeholder: "Email" %>
  <!-- <input type="text" class="form-control" placeholder="Email" required autofocus> -->
  <%= f.password_field :password, :class=>"form-control", placeholder: "Password", autocomplete: "off" %>
  <!-- <input type="password" class="form-control" placeholder="Password" required> -->
  <div class="actions">
    <%= f.submit "Log in", :class => "btn btn-lg btn-primary btn-block" %>
  </div>
<% end %>
