<div id="h1">
    Saiba um pouco mais sobre nós!
</div>
<table class="table">
  <tr>
    <th class="table-pic" rowspan="4">
      <%= link_to root_path, method: :get do %>
        <img class="responsive-img" id="profile-pic" src="/duerno.jpg">
      <% end %>
    </th>
    <th class="table-name"> Felipe Duerno Almeida </th>
  </tr>
  <tr>
    <td class="table-cel">Idade: 22 anos</td>
  </tr>
  <tr>
    <td class="table-text"><b>Sobre:<br></b>
      Texto descritivo sobre o membro. Pense em um texto bacaninha sobre
    essa pessoinha :D .</td>
  </tr>
</table>

<table class="table">
  <tr>
    <th class="table-pic" rowspan="4">
      <%= link_to root_path, method: :get do %>
        <img class="responsive-img" id="profile-pic" src="/leonardo.jpg">
      <% end %>
    </th>
    <th class="table-name"> Leonardo Cambraia </th>
  </tr>
  <tr>
    <td class="table-cel">Idade: 22 anos</td>
  </tr>
  <tr>
    <td class="table-text"><b>Sobre:<br></b>
      Texto descritivo sobre o membro. Pense em um texto bacaninha sobre
    essa pessoinha :D .</td>
  </tr>
</table>

<table class="table">
  <tr>
    <th class="table-pic" rowspan="4">
      <%= link_to root_path, method: :get do %>
        <img class="responsive-img" id="profile-pic" src="/rufinator.jpg">
      <% end %>
    </th>
    <th class="table-name"> Lucas Rufino Travassos </th>
  </tr>
  <tr>
    <td class="table-cel">Idade: 24 anos</td>
  </tr>
  <tr>
    <td class="table-text"><b>Sobre:<br></b>
      Texto descritivo sobre o membro. Pense em um texto bacaninha sobre
    essa pessoinha :D .</td>
  </tr>
</table>

<table class="table">
  <tr>
    <th class="table-pic" rowspan="4">
      <%= link_to root_path, method: :get do %>
        <img class="responsive-img" id="profile-pic" src="/paulo.jpeg">
      <% end %>
    </th>
    <th class="table-name"> Paulo Markes Calado </th>
  </tr>
  <tr>
    <td class="table-cel">Idade: 24 anos</td>
  </tr>
  <tr>
    <td class="table-text"><b>Sobre:<br></b>
      Texto descritivo sobre o membro. Pense em um texto bacaninha sobre
    essa pessoinha :D .</td>
  </tr>
</table>
