/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require dataTables/jquery.dataTables
 *= require material_icons
 *= require materialize
 *= require_self
 *= require_tree .
*/

#header-logo {
  height: 50px;
  margin-bottom: 5px;
  vertical-align: middle;
}

#main-img-wrapper {
  margin: 2%;
  text-align: center;
  display: block;
}

#main-img {
  display: inline-block;
  width: 20%;
}

.modal {
  width: 25% !important;
}

.nav-wrapper {
  padding-left: 10px;
  padding-right: 10px;
}

.form-control.sign-in {
  padding: auto 10px;
}

.page-footer.custom {
  position:relative;
}
#copyright{
  text-align: center;
}

.primary{
  background-color: #ff8a80 !important;
}

.secondary{
  background-color: #ffea00 !important;
}

.terciary{
  background-color: #e0e0e0 !important;
}

#error_explanation > ul {
  color: red;
}
