.dataTables_filter {
     display: none;
}

.dataTables_length label {
  display:none;
}

.dataTables_info label {
  display: none;
}

table.dataTable thead th {
  border-bottom: 0;
}

table.dataTable tfoot th {
  border-top: 0;
}

.card.horizontal.green-color {
  background-color: #caeebf;
}

#h1{
  color: #ff8a80;
  margin: 50px;
  font-size: 20px;
  font-style: oblique;
  font-weight: bolder;
  font-family: sans-serif;
  font-size-adjust: auto;
  text-align: center;
  }

#profile-pic {
  height: 200px;
  vertical-align: middle;
}


.table{
    width: 30%;
    margin: 5% 3%;
    padding: 0px 5px;

  }

.table .table-pic{
  padding: 0px 10px;
  width: 200px;
  vertical-align: middle;
}
.table .table-name{
    font-family:Arial, sans-serif;
    font-size:14px;
    border-style: none;
    font-weight:bold;
    background-color:#e0e0e0;
    padding: 0px 20px;
  }

.table .table-cel{
    margin: 0px;
    padding: 0px;
    font-weight:bold;
  }

.table .table-text{
  margin: 0px;
  padding: 0px;
}
